<div class="container">
  <div class="search">
    <input type="text" placeholder="Search" [(ngModel)]="selectedCity">
    <span>🔍</span>
  </div>
  <div class="image">
    <img src="https://media.tenor.com/puYTbns6rXAAAAAM/kids-spinning.gif" alt="">
  </div>
  <div class="buttons">
    <div *ngFor="let cityName of uniqueCityNames" class="btn">
      <button (click)="selectCity(cityName)">{{ cityName }}</button>
    </div>
  </div>
</div>

<!-- Display selected city data in a table -->
<div *ngIf="selectedCityData" class="city-data">
  <h2>{{ selectedCityData.name }}</h2>
  <div class="temp_img"><img [src]="getTemperatureImage()" alt="Temperature">{{ selectedCityData.main.temp }}°C</div>
  <table>
    <tr>
      <th>Date and Time</th>
      <th>Weather</th>
      <th>Min Temperature</th>
      <th>Max Temperature</th>
    </tr>
    <tr>
      <td>{{ selectedCityData.dt | date: 'medium' }}</td>

      <td>
        <img [src]="getWeatherImage(selectedCityData.weather[0].icon)" alt="Weather">
      </td>
      <td>{{ selectedCityData.main.temp_min }}°C</td>
      <td>{{ selectedCityData.main.temp_max }}°C</td>
    </tr>
  </table>
</div>



